* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Roboto Mono", monospace;
}

.header {
  padding: 30px;
  text-align: center;
}

.header__title {
  color: #8800cc;
  margin: 0 0 5px;
  font-size: 2.625rem;
}

.header__subtitle {
  color: #660099;
  margin-top: 30px;
  font-size: 1.5rem;
}

.calc {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  /* padding: 20px; */
}

.calc__image {
  background-image: url("../assets/images/calc-image.png");
  background-size: cover;
  width: 450px;
  height: 450px;
}

.calc__data {
  margin-top: 2rem;
  padding: 2rem 1rem;
}

.calc__label {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.calc__input {
  border-color: #d580ff;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  height: 2.5rem;
  margin-bottom: 1.875rem;
}

.calc__button {
  margin-top: 2rem;
  background-color: #8800cc;
  color: white;
  padding: 0.625rem 0.875rem;
  border-radius: 0.625rem;
}
.calc__button:hover {
  background-color: #440066;
}

.calc__result {
  width: 50vw;
  color: #8800cc;
  text-align: center;
  font-size: 1.5rem;
  padding: 1.25rem;
}
